<!DOCTYPE html>
<html>
	<head>
		<title> auctions app </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/html" href="<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/app.css">
	</head>

	<body>


<!-- NAVBAR    -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ccccff;">
	    	<div class="container">


	    		<a class="navbar-brand" href="/">
    				<font color="red">E</font><font color="blue">b</font><font color="yellow">i</font><font color="green">d</font> Team
  				</a>
  				<a class="nav-link" href="/"><font color="red">Home</font></a>

		     	<ul class="navbar-nav">

      				<% if(typeof currentUser !== "undefined" && currentUser.request !== "pending") {   %>  
			            <li class="nav-item">
			            	<div class="row">
			            		<a class="nav-link" href="#"><font color="black">Signed as </font><font color="blue"><b><%= currentUser.username %></b> </font></a>
			               		<a class="nav-link" href="/logout"><font color="red">Logout</font></a>
			               </div>			  
			           	</li>
		            <% }else{ %>	<!--      -------------------------------------   -->
		            	<li class="nav-item">
        					<a class="nav-link" href="/login"><font color="black">Sign in</font></a>
     					</li>
      					<li class="nav-item">
       						<a class="nav-link" href="/register"><font color="black">Sign up</font></a>
      					</li>
      				<% } %>

		     	</ul>
			</div>
		</nav>
<!-- NAVBAR END -->
	  



	<% if(error && error.length) { %>
			<div class="alert alert-danger" role="alert">
				<div class="container">
					<%= error %>
				</div>
			</div>
	<% } %>


	<link rel="stylesheet" type="text/css" href="/index.css">


  <!-- Masthead -->
  <header class="masthead  text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" id="searchDiv">
          <form action = "/search" method = "POST">
            <div class="form-row">
     	            <div class="col-4 col-md-4 ">					
							  <a class="btn btn-primary dropdown-toggle " id="categoriesButton" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    choose category
							  </a>
							  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							  	<input type="radio" name="auction[category]" value = "Home" > Home <br>
							  	<input type="radio" name="auction[category]" value = "Fashion" > Fashion <br>
							  	<input type="radio" name="auction[category]" value = "Health" > Health <br>
							  	<input type="radio" name="auction[category]" value = "Sports" > Sports <br>
							  	<input type="radio" name="auction[category]" value = "Books" > Books <br>
							  	<input type="radio" name="auction[category]" value = "Movies" > Movies <br>
							  	<input type="radio" name="auction[category]" value = "Toys" > Toys <br>
							  	<input type="radio" name="auction[category]" value = "Electronics" > Electronics <br>
							  	<input type="radio" name="auction[category]" value = "Art" > Art <br>
							  	<input type="radio" name="auction[category]" value = "Houses" > Houses <br>
							  	<input type="radio" name="auction[category]" value = "Vehicles" > Vehicles <br>
							  
							  </div>
						
	               </div>  
	              <div class="col-6 col-md-6 ">
	                <input class="form-control form-control-lg" name = "auction[name]" placeholder="Search for anything here...">
	              </div>

	              <div class="col-2 col-md-2">
	                <button type="submit" id="search" class="btn btn-block btn-lg btn-primary">Search</button>
	              </div>          
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>