<!DOCTYPE html>
<html>
	<head>
		<title> auctions app </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/html" href="<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/app.css">
	</head>

	<body>


<!-- NAVBAR    -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000033;">
	    	<div class="container">


	    		<a class="navbar-brand" href="/">
    				<font color="red">E</font><font color="blue">b</font><font color="yellow">i</font><font color="green">d</font> 
    				<font color="white">Team</font>
  				</a>
  				<a class="nav-link" href="/"><font color="white"> <i class="fa fa-home" aria-hidden="true"></i>
Home</font></a>

		     	<ul class="navbar-nav">

      				<% if(typeof currentUser !== "undefined" && currentUser.request !== "pending") {   %>  
			            <li class="nav-item">
			            	<div class="row">
			            		<a class="nav-link" href="#"><font color="white">Signed as </font><font color="white"><b><%= currentUser.username %></b> </font></a>
			               		<a class="nav-link" href="/logout"><font color="red">Logout</font></a>
			               </div>			  
			           	</li>
		            <% }else{ %>	<!--      -------------------------------------   -->
		            	<li class="nav-item">
        					<a class="nav-link" href="/login"><font color="white">Sign in</font></a>
     					</li>
      					<li class="nav-item">
       						<a class="nav-link" href="/register"><font color="white">Sign up</font></a>
      					</li>
      				<% } %>

		     	</ul>
			</div>
		</nav>
<!-- NAVBAR END -->
	  



	<% if(error && error.length) { %>
			<div class="alert alert-danger" role="alert">
				<div class="container">
					<%= error %>
				</div>
			</div>
	<% } %>


