<% include partials/header.ejs %>


	<h1> Here is the bidder home page </h1>
	<% if(auctions) { %>
		<% categories.forEach(function(category) {  %>
			<%= category %>
			<br>
			<%  auctions.forEach( function(auction) {   %>
					<% if(auction.category === category)  { %>
						<%= auction %>
							<a href="/allAuctions/<%= auction._id %>"> more info </a>	
							<br>
					<%	} %>
			<%   })   %>
			<br>	
		<% }) %>
	<% } %>	



<% include partials/footer.ejs %>