<% include partials/header.ejs %>

	<h1> more info about this auction: </h1>

	<%= auction %>
	<% if(currentUser !== undefined) { %>
		<a href="/categories/<%= category %>/<%= auction._id %>/makeBid"> make a bid </a>
	<% } %>


<% include partials/footer.ejs %>