<% include partials/header.ejs %>


<div class="container">
	<h2 style="text-align: center; color: black;"> Here are all the categories</h2>
	<div style="width: 30%; margin: 20px auto;">
		<ul class="list-group">

			<% if(auctions) { %>
				<% categories.forEach(function(category) {  %>
				
					<a class="btn btn-primary" href="/categories/<%= category %>"> <%= category %> </a>
					<br>
				<% }) %>
			<% } %>
			
			<a class="btn btn-secondary" href="/search" role="button">Search</a>
		</ul>
		<br>
		<a class="btn btn-info" href="/" role="button">Go Back</a>
	</div>
</div>




