<% include partials/header.ejs %>

	<h2> Here is the bidder home page </h2>

	<h4> Here are all the categories:</h4>

<div class="container">
	<div style="width: 30%; margin: 20px auto;">

<button> <a href="/search"> Search </a> </button>

<br>
<br>

	<% if(auctions) { %>
		<% categories.forEach(function(category) {  %>
			<a href="/categories/<%= category %>"> <%= category %> </a>
			<br>	
		<% }) %>
	<% } %>	

	</div>
</div>	


<% include partials/footer.ejs %>