<% include partials/header.ejs %>


<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h2> Are you sure you want to make this bid? </h2>
			<h3><font color="red"> You can not delete it after creation. </font></h3>
			
			<br>
			<form action="/categories/<%= auction.category %>/<%= auction._id %>/makeBid?amount=<%= amount %>"  method="POST">
				<div class="form-group">
					<input class="btn btn-danger" type="submit" value="Confirm" />
				</div>
			</form>
			
			<br>
			<div class="form-group">
				<a class="btn btn-lg btn-primary btn-default back" href="javascript:history.back()">Go Back</a>
			</div>
		</div>
	</div>
</div>



<% include partials/footer.ejs %>