<% include partials/header.ejs %>

<div class="container">
	<div class="jumbotron">
		<div class="container">
			<h2> My bid is: </h2>
			
			<div style="width: 20%; margin: 20px auto;">
				<form action = "/categories/<%= auction.category %>/<%= auction._id %>/confirmBid" method = "GET">
					<div class="form-group">
						<input class="form-control" type="text" name="amount" placeholder = "Make a bid please">	
					</div>
					
					<div class="form-group">
						<button class="btn btn-success">Submit</button>
					</div>
					
				</form>
			</div>
			<a class="btn btn-lg btn-primary btn-default back" href="javascript:history.back()">Go Back</a>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>

