<h1> My bid is: </h1>

<form action = "/allAuctions/<%= auction._id %>/makeBid" method = "POST">
	<input type="text" name="amount" placeholder = "make a bid please">	
	<button> Submit </button>
</form>

