<% include partials/header.ejs %>

<h1> Here is the Manager Page!!! </h1>


<h3> Users: </h3>
<ul>
	<%  foundUsers.forEach( function(user) {    %>
			<% if(user.role !== "manager") {  %>
				<li> 
					<%= user.username %>
					<a href="/managerPage/<%= currentUser._id %>/userInfo/<%=  user._id  %>"  > show user details </a>
				</li>
			<% } %>
	<%  });  %>

</ul>


<% include partials/footer.ejs %>