<% include partials/header.ejs %>


  <!-- Masthead -->
  <header class="masthead  text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" id="searchDiv">
          <form action = "/search" method = "POST">
            <div class="form-row">
     	            <div class="col-4 col-md-4 ">					
							  <a class="btn btn-primary dropdown-toggle " id="categoriesButton" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    choose role
							  </a>
							  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							  	<input type="radio" name="auction[category]" value = "Home" > seller <br>
							  	<input type="radio" name="auction[category]" value = "Fashion" > bidder <br>
							  </div>
						
	               </div>  
	              <div class="col-6 col-md-6 ">
	                <input class="form-control form-control-lg" name = "auction[name]" placeholder="Search for a user here...">
	              </div>

	              <div class="col-2 col-md-2">
	                <button type="submit" id="search" class="btn btn-block btn-lg btn-primary">Search</button>
	              </div>          
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

<ul>
	<h3> Users </h3>
	<%  foundUsers.forEach( function(user) {    %>
			<% if(user.role !== "manager") {  %>
				<li> 
					<%= user.username %>
					<a href="/managerPage/<%=  user._id  %>"  > show user details </a>
				</li>
			<% } %>
	<%  });  %>

</ul>


<% include partials/footer.ejs %>