<% include partials/header.ejs %>



<%= currentUser   %>


<div class="container">
	<h2 style="text-align: center; color: black;">Start new action</h2>
	<div style="width: 30%; margin: 20px auto;">
		<form action = "/auctions" method = "POST">
		
		
		
			<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder = "Name">
			</div>
			
			<div class="form-group">
					<input class="form-control" type="text" name="category" placeholder = "Category">
			</div>
			
			<div class="form-group">
					<input class="form-control" type="number" name="Buy_Price:" placeholder = "Buy_Price:">
			</div>
			
			<div class="form-group">
					<input class="form-control" type="number" name="First_Bid" placeholder = "First_Bid">
			</div>
		
			
			
			
			
			
			
			<div class="form-group">
				<button class="btn btn-sm btn-success btn-default btn-block" >Start</button>
			</div>
		</form>
		<a class="btn btn-sm btn-primary btn-default" href="/">Go Back</a>
	</div>
</div>	

<% include partials/footer.ejs %>
