<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/newAuction.css">


<div class="container">
	<h1 style="text-align: center; color: white; margin-top: 3%;"><strong> Start new action </strong></h1>
	<div style="width: 30%; margin: 20px auto;">
		<form action = "/auctions" method = "POST">
		
		
			<div class="form-group" id="testform">
					<input class="form-control" type="text" name="name" placeholder = "Product Name" required>
			</div>
			
			
			<div class="form-group" required>
				<select class="form-control selectpicker show-tick" name="category" required>
					<option disabled selected>Choose Category</option>
  					<option>Home & Garden</option>
  					<option>Fashion</option>
  					<option>Health</option>
  					<option>Sports</option>
					
					<option>Books</option>
  					<option>Games & Consoles</option>
  					<option>Toys</option>
  					<option>Electronics</option>
					
					<option>Art</option>
  					
  					<option>Vehicles</option>
				</select>
			</div>
			
			
			<div class="form-group">
					<input class="form-control" type="number" name="Buy_Price" placeholder = "Buy price">
			</div>
			
			<div class="form-group">
					<input class="form-control" type="number" name="First_Bid" placeholder = "First bid">
			</div>
		
			
			<div class="form-group">
				<input class="form-control" type="text" name="Location" placeholder = "Location" required>
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" name="Country" placeholder = "Country" required>
			</div>
			
			<div class="form-group">
				<input class="form-control" type="datetime-local" name="Started" placeholder = "Start date" required>
			</div>
			
			<div class="form-group">
				<input class="form-control" type="datetime-local" name="Ends" placeholder = "End Date" required>
			</div>
			
			<div class="form-group">
					<input class="form-control" type="text" name="Image" placeholder="Image url">
			</div>
			
			<div class="form-group">
					<input class="form-control" type="text" name="Description" placeholder="Description">
			</div>
			
			
			
			
			<div class="form-group">
				<button class="btn btn-lg btn-success btn-default btn-block" >Start</button>
			</div>
		</form>
	</div>
</div>	

<a class="btn btn-lg btn-primary btn-default back2" href="javascript:history.back()">Go Back</a>

<% include partials/footer.ejs %>