<% include partials/header.ejs %>

<h1> START NEW AUCTION HERE </h1>

<%= currentUser   %>

<form action = "/auctions/<%= currentUser._id %>" method = "POST">
	<input type="text" name="name" placeholder = "name">
	<input type="text" name="category" placeholder = "category">	
	<input type="text" name="First_Bid" placeholder="First_Bid">
	<button> Start </button>
</form>


<% include partials/footer.ejs %>