<% include partials/header.ejs %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
		
			<h2><font color="black">Your request has been sent.</font></h2>
			<h3><font color="black">Please try to login later.</font></h3>

			
			<div class="form-group">
				<a class="btn btn-primary btn-sm" href="/">Go back to main page</a>
			</div>
			
			<p> Αutomatic return to main page in 10 second. </p>
			
			<script>
				setTimeout(function(){ window.location.href="/"; }, 10000);
			</script>
		<div>
	</div>
</div>



<% include partials/footer.ejs %>