<% include partials/header.ejs %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
		
			<h1><font color="black">Your request has been sent.</font></h1>
			<p><font color="black">Please try to login later to see if it is approved.</font></p>

			
			<div class="form-group">
				<a class="btn btn-primary btn-sm" href="/">Go back to main page</a>
			</div>
			
		<div>
	</div>
</div>



<% include partials/footer.ejs %>