
<% include partials/header.ejs %>

<div class="container">
	<div style="width: 30%; margin: 20px auto;">
		<form action="/search" method="POST">
	
			<div class="form-group">
					<input class="form-control" type="text"  name = "auction[name]" placeholder = "enter name.."  >
			</div>
			
			
			<div class="form-group">
					<select class="form-control" type="text" name="auction[category]">
					
					option>Home</option>
  					<option>Fashion</option>
  					<option>Health</option>
  					<option>Sports</option>
					
					<option>Books</option>
  					<option>Movies</option>
  					<option>Toys</option>
  					<option>Electronics</option>
					
					<option>Art</option>
  					<option>Houses</option>
					
					</select>
			</div>
			
			<div class="form-group">
				<button class="btn btn-sm btn-success btn-default btn-block" >find</button>
			</div>
		</form>
		<a class="btn btn-sm btn-primary btn-default" href="/categories">Go Back</a>
	</div>
</div>	


<% include partials/footer.ejs %>