<% include partials/header.ejs %>


<br>
<div class="container">
	<% if(bidsUsers.length==0){%>
	<h2> <center><font color="black"><strong> There are no bids yet. </strong></font></center> </h2>
	<% }else{ %>
	<h2> <center><font color="black"><strong> Here are all the bids for the auction: </strong></font></center> </h2>
	<br>
	<table class="table">
		<thead class="thead-dark">
			<tr>

				<th scope="col">Name Bidder</th>
				<th scope="col">Amount</th>
				<th scope="col">Time</th>

			</tr>
		</thead>
		<tbody style="background-color: #F5F5DC;">
			<% bidsUsers.forEach(function(bidsUsers) {  %>
				<tr>

					<td><%= bidsUsers.user.username %></td>
					<td><%= bidsUsers.bid.amount %></td>
					<td><%= bidsUsers.bid.time %></td>

				</tr>
			 <% })  %>
			<% }  %>
		</tbody>
	</table>
	<a class="btn btn-lg btn-primary btn-default back" href="javascript:history.back()">Go Back</a>
</div>




<% include partials/footer.ejs %>
