<% include partials/header.ejs %>



<br>
<div class="container">
	<h2> <center><font color="black"><strong> Here are all the bids for the auction: </strong></font></center> </h2>
	<br>
	<table class="table">
		<thead class="thead-dark">
			<tr>
			
				<th scope="col">Name Bidder</th>
				<th scope="col">Amount</th>
				<th scope="col">Time</th>
				
			</tr>
		</thead>
		<tbody style="background-color: #F5F5DC;">
			<% bids.forEach(function(bid) {  %>
				<tr>
				
					<td><%= bid.bidder.username %></td>
					<td><%= bid.amount %></td>
					<td><%= bid.time %></td>
					
				</tr>
			<% })  %>
		</tbody>
	</table>
	<a class="btn btn-sm btn-primary btn-default" href="/auctions">Go Back</a>
</div>




<% include partials/footer.ejs %>