<% include partials/header.ejs %>


<h3>USER INFO</h3>

<%=    user    %>

<a href="/managerPage/<%=  user._id  %>/approve"> approve</a>
<a href="/managerPage/<%=  user._id  %>/disapprove"> disapprove</a>


<% include partials/footer.ejs %>