html,body {
  height: 100%;
  width: 100%;
  padding:	0;
}


body {
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: Lato;
}



#logged {
	margin-left: 85%;
	font-size: medium;
}


#jumbHome {
	height: 13em;
	text-align: center;
	margin-top: 3%;
}

.form-row {
	margin-top: -10%;
}

div.form-row {
	margin-top: 8%;
}

select {
	display: inline;
}

* {
    box-sizing: border-box
} 


.features-icons {
	margin-top: 10%;
	background-color: #a4b1ba;
	text-align: center;
	margin-bottom: 3%;
	background-color: #000033;
	color: white;
}


#categoriesButton {
	margin-top: 0.4em;
	padding-right: 0.5em;
}

#searchDiv {
	margin-top: -2%;
}


.sellerPicture {
  float: left;
  width: 20em;
  height: 20em;
  margin-top: 7%;
  margin-left: 23%;

}

.sellerPictureTitle {
	margin-left: 0.5em;
	color: black;
	display:inline;
}

img.zoom.img-thumbnail.rounded-circle{
	height: 100%;
}

img.zoom {
	border: 5px solid #000033!important;
}


.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



div.polaroid {
  width: 10em;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
  float: left;

}

div.container {
  text-align: center;
  max-width: 100%;
  margin: 0;
}

.productImage {
	width: 10em;
	height: 10em;
}

.productImageTitle {
	width: 10em;
}


.mdb-select {
	margin-left: 6em;
	margin-top: 0.5em;
}

* {
  box-sizing: border-box;
}

.column.polaroid.zoom {
  float: left;
  margin-left: 200px;
}



.homeImage {
	border: 1px solid black;
	width: 22em;
	height: 12em;
}

.jumbotron-fluid {

	width: 100%;
		background-color: #00ffcc;
}


#users {
	margin-left: 40%;
	margin-top: 4%;
}

#userHeader {
	margin-left: 5%;
}

#userItem {
	list-style-type:square;
}


img {
   display:inline-block;
   position:relative;
   border:1px solid #ccc;
   padding:5px;
   background:#f2f2f2;
   margin-bottom:30px;
}


.d-block.w-100 {
	margin-top: 3%;
	height: 25em!important;
	width: 80%!important;
	margin-left: 10%;
}


footer {
	margin-top: 25%;
	background-color: #000033!important;
	color: white;
}


i {
	font-size: 1.5em!important;
}

.card {
	float: left;
}

