body, html {
  height: 100%;
  width: 100%;
}

body {
	font-family: Lato;
	background-color: #292f34;
}




#logged {
	margin-left: 85%;
	font-size: medium;
}




#jumbHome {
	opacity: 0.7;
	height: 40vh;
	text-align: center;
}